extends layout.pug

block content
  .wrapper
    include partials/header.pug
    main.articles-category
      -
        const currentCategory = categories.find((category) => category.id === activeCategory)
      h1 #{currentCategory.name}
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each category in categories
            li.themes__item
              a.themes__item-link(href=`/articles/category/${category.id}` class=`${category.id === activeCategory ? `themes__item-link--active` : ``}`)
                | #{category.name}
                sup #{category.sumOfEquals}
      section.articles-category__list.preview
        h2.visually-hidden Список превью статей
        ul.preview__list
          each article in articles
            li.preview__item
              ul.preview__breadcrumbs
                each category in article.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href='#') #{category.name}
              .preview__background
                img.preview__background-image(src=`/img/${article.picture}@1x.jpg` width='460' height='240' srcset=`/img/${article.picture}@1x.jpg, /img/${article.picture}@2x.jpg 2x` alt=article.title)
              time.preview__time(datetime=`${formatDate(dayjs, article.createdAt, `tagFormat`)}`) #{formatDate(dayjs, article.createdAt, `visualFormat`)}
              h3.preview__name
                a.preview__name-link(href='#') #{article.title}
              p.preview__text #{article.fullText}
              a.preview__comment(href='#')
                | Комментарии 
                span.preview__cloud
                |  
                b.preview__comment-count #{article.comments.length}
        +pagination(page, totalPages, 2, `?`)
    include partials/footer.pug