extends layout.pug

block content
  .wrapper
    include partials/header.pug
    main
      h1.visually-hidden Регистрация пользователя
      section.modal
        .popup.popup--registration
          button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
          h2.visually-hidden Форма регистрации

          case loginPopup
            when `authentification`
              ul.popup__tabs
                li.popup__tab.popup__tab--register
                  button.popup__tab-switcher.button(onclick="window.location.href='/register'" type='button') Регистрация
                li.popup__tab.popup__tab--active.popup__tab--log-in
                  button.popup__tab-switcher.button(onclick="window.location.href='/login'" type='button') Войти

            default
              ul.popup__tabs
                li.popup__tab.popup__tab--active.popup__tab--register
                  button.popup__tab-switcher.button(onclick="window.location.href='/register'" type='button') Регистрация
                li.popup__tab.popup__tab--log-in
                  button.popup__tab-switcher.button(onclick="window.location.href='/login'" type='button') Войти

          .popup__form.form.form--register(class=`${loginPopup === `authentification` ? `popup__form--hidden` : `popup__form--active`}`)
            if regErrorsMessages
              ul
                each error in regErrorsMessages
                  li #{error}
            form(action='/register' method='post' enctype="multipart/form-data" autocomplete="off")
              .form__field
                label
                  input(type='email' name="user-email" placeholder='Электронная почта' required)
              .form__field
                label
                  input(type='text' name="user-name" placeholder='Имя' required)
              .form__field
                label
                  input(type='text' name="user-surname" placeholder='Фамилия')
              .form__field
                label
                  input(type='password' name="user-password" placeholder='Пароль' required)
              .form__field
                label
                  input(type='password' name="user-password-again" placeholder='Повтор пароля' required)
              .form__image-loader
                a.form__avatar.avatar
                  img(src=`img/icons/smile.svg` alt='аватар пользователя')
                label
                  input.visually-hidden(type='file' name="user-avatar")
                  | Загрузить фото профиля
              button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
          .popup__form.form.form--log-in(class=`${loginPopup === `authentification` ? `popup__form--active` : `popup__form--hidden`}`)
            if authErrorsMessages
              ul
                each error in authErrorsMessages
                  li #{error}
            form(action='/login' method='post' enctype="multipart/form-data" autocomplete="off")
              .form__field.visually-hidden
                label
                  input(type="hidden" name="member-csrf" value=hashedValue required="")

              .form__field
                label
                  input(type='email' name="member-email" placeholder='Электронная почта' required)
              .form__field
                label
                  input(type='password' name="member-pass" placeholder='Пароль' required)
              button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
        .modal__overlay
    include partials/footer.pug
  script(src='js/main.js')