extends ../layout.pug

block content
  .wrapper.wrapper--nobackground
    include ../partials/header.pug
    main.main-page.main-page--padding
      section.main-page__publication.publication
        h1.publication__title Комментарии
        ul.publication__list
          each comment in sortedComments
            li.publication__list-item
              .publication__header
                img.publication__list-image(src=`/img/${userAvatar}` width='20' height='20' alt='Аватар пользователя')
                b.publication__list-name #{userName} #{userSurname}
                time.publication__item-time(datetime=`${formatDate(dayjs, comment.createdAt, `tagFormat`)}`) #{formatDate(dayjs, comment.createdAt, `visualFormat`)}
              a.publication__item-text(href='#') #{comment.text}
              p.publication__text-strong #{comment.text}
              button.publication__button.button.button--close-item(onclick=`window.location.href='/my/comments/delete/${comment.id}'` type='button')
                span.visually-hidden Закрыть строку списка
    include ../partials/footer.pug